<h1>Editing user name</h1>

<%= render "form", user_name: @user_name %>

<br>

<div>
  <%= link_to "Show this user name", @user_name %> |
  <%= link_to "Back to user names", user_names_path %>
</div>
